:root {
    height: 100%;
}

@font-face {
    font-family: 'UbuntuNF';
    font-style: normal;
    font-weight: 500;
    src: local('fonts/Ubuntu/UbuntuNerdFontPropo-regular.ttf');
}

* {
    font-family: 'UbuntuNF', sans-serif;
}