:root {
    height: 100%;
}

@font-face {
    font-family: 'UbuntuNF';
    font-style: normal;
    font-weight: 500;
    src: local('fonts/Ubuntu/UbuntuNerdFontPropo-regular.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'UbuntuNF', sans-serif;
    overflow: hidden;
}